---
layout: default
permalink: /blog/
title: Blog
priority: 0.9
---

<section class="section">
  <h1>Articles</h1>
  <div class="tab-container">
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <a href="{{ site.baseurl }}categorie/{{ category_name | downcase | replace: 'é' ,'e'}}" class="tab">{{ category_name }}</a>
    {% endfor %}
  </div>
  {% for blog in site.posts %}
  <a href="{{ blog.url }}" class="post">
    <div class="post-thumbnail">
      <img src="{{ site.baseurl }}{{ blog.image }}" alt="Icon">
    </div>
    <div class="post-title">
      {{ blog.title }}
    </div>
    <div class="post-date">
      <time>
        {% assign m = blog.date | date: "%-m" %}
        {{ blog.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Janvier
          {% when '2' %}Février
          {% when '3' %}Mars
          {% when '4' %}Avril
          {% when '5' %}Mai
          {% when '6' %}Juin
          {% when '7' %}Juillet
          {% when '8' %}Août
          {% when '9' %}Septembre
          {% when '10' %}Octobre
          {% when '11' %}Novembre
          {% when '12' %}Décembre
        {% endcase %}
        {{ blog.date | date: "%Y" }}
      </time>
    </div>
  </a>
  {% endfor %}
<section>
