---
layout: default
permalink: /
priority: 1.0
---

<section class="section">
  <h1>Salut !</h1>
  <p>
    Je me présente, je m'appelle Lucas. Je suis <strong><abbr title="Principalement front-end">développeur web</abbr></strong>, étudiant, <strong>minimaliste</strong> et je viens de Strasbourg. Je laisse ma trâce sur cette immense toile qu'est internet en partagent ce que je fais et en contribuant à divers projets open source.
  </p>
  <p>
    Ce site me permettra de partager ce que j'ai appris depuis que je fais du développement. Vous ne trouverez ni pub, ni contenu incohérant. Si vous aimez ce que je fais, n'hésitez pas à <a href="https://www.patreon.com/bePatron?u=7334020" target="_blank" rel="noopener noreferrer">me soutenir</a> !
  </p>
  <p>
    <a href="https://github.com/LucasCtrl" class="github-button" data-size="large" data-lang="fr" data-show-count="true" aria-label="Follow @LucasCtrl on GitHub">Suivre</a>
    <a href="https://twitter.com/LucasCtrlAlt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="fr" data-show-screen-name="false" data-show-count="true">Follow @LucasCtrlAlt</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
</section>

<section class="section">
  <h2>Derniers Articles</h2>
  {% for blog in site.posts limit:5 %}
  <a href="{{ blog.url }}" class="post">
    <div class="post-thumbnail">
      <img src="{{ site.baseurl }}{{ blog.image }}" alt="Icon">
    </div>
    <div class="post-title">
      {{ blog.title }}
    </div>
    <div class="post-date">
      <time>
        {% assign m = blog.date | date: "%-m" %}
        {{ blog.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Janvier
          {% when '2' %}Février
          {% when '3' %}Mars
          {% when '4' %}Avril
          {% when '5' %}Mai
          {% when '6' %}Juin
          {% when '7' %}Juillet
          {% when '8' %}Août
          {% when '9' %}Septembre
          {% when '10' %}Octobre
          {% when '11' %}Novembre
          {% when '12' %}Décembre
        {% endcase %}
        {{ blog.date | date: "%Y" }}
      </time>
    </div>
  </a>
  {% endfor %}
</section>

<section class="section">
  <h2>Projets Open Sources</h2>
  {% for projet in site.data.projets %}
  <div class="post">
    <div class="post-thumbnail">
      <img src="{{ site.baseurl }}assets/images/projects/{{ projet.image }}" alt="Logo du projet">
    </div>
    <a href="https://github.com/{{ projet.github }}" class="post-title">
      {{ projet.title }}
    </a>
    <div class="post-description">
      {{ projet.description }}
    </div>
    <div>
      <a class="github-button" href="https://github.com/{{ projet.github }}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star {{ projet.github }} on GitHub">Star</a>
    </div>
  </div>
  {% endfor %}
</section>

{% include newsletter.html %}
