<div class="header">
  <a href="{{ site.baseurl }}">
    <div class="header-title">
      LUCAS<div class="header-subtitle">
        ALT
      </div>
    </div>
  </a>
  <div class="nav">
    <a href="{{ site.baseurl }}" class="{% if page.url == '/' %}active{% endif %}">Introduction</a>
    <a href="{{ site.baseurl }}projets/" class="{% if page.url == '/projets' %}active{% endif %}">Projets</a>
    <a href="{{ site.baseurl }}blog/" class="{% if page.url == '/blog' %}active{% endif %}">Blog</a>
    <a href="{{ site.baseurl }}contact/" class="{% if page.url == '/contact' %}active{% endif %}">Contact</a>
  </div>
</div>