<nav class="nav">
  <div class="nav-container">
    <div class="brand">
      <a href="{{ site.baseurl }}">LucasAlt</a>
    </div>
    <div class="links">
      <a href="{{ site.baseurl }}blog/">Articles</a>
    </div>
    <div class="extra">
      <!-- <a class="nav-icon" id="night-mode"><i class="fa fa-moon-o"></i></a> -->
      <a class="nav-icon" href="https://twitter.com/LucasCtrlAlt" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
      <a class="nav-icon" href="https://github.com/LucasCtrl" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a>
      <a class="nav-icon" href="{{ site.baseurl }}feed.xml"><i class="fa fa-rss"></i></a>
    </div>
  </div>
</nav>
