<section class="section">
    <h2>Newsletter</h2>
    <p>
      Soyez informé quand un nouvel article est posté sur le blog.<br>
      Désabonnez-vous quand vous le souhaitez.
    </p>
    <form class="newsletter-form" action="https://tinyletter.com/LucasAlt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/LucasAlt', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input class="email" type="text" name="email" id="tlemail" placeholder="Votre adresse email" />
      <input type="hidden" value="1" name="embed"/>
      <input type="submit" value="S'abonner" />
    </form>
  </section>
