<section class="section">
  <h2>Newsletter</h2>
  <p>
    Soyez informé quand un nouvel article est posté sur le blog.<br>
    Désabonnez-vous quand vous le souhaitez.
  </p>
  <form
    class="newsletter-form"
    action="https://buttondown.email/api/emails/embed-subscribe/LucasAlt"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/LucasAlt', 'popupwindow')"
  >
    <input class="email" type="email" name="email" id="bd-email" placeholder="Votre adresse email" required>
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="S'abonner" />
  </form>
</section>
