@import "variables";

@import "./components/grid";
@import "./components/buttons";
@import "./components/code";
@import "./components/forms";
@import "./components/lists";
@import "./components/tables";
@import "./components/utils";

@import "./components/header";
@import "./components/hero";
@import "./components/footer";

@import "./components/last-posts";
@import "./components/posts";


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
