/* Layout
-------------------------------------------------- */

$layout-mobile: 400px; // Larger than mobile
$layout-phablet: 550px; // Larger than phablet (also point when grid becomes active)
$layout-tablet: 750px; // Larger than tablet
$layout-desktop: 1000px; // Larger than desktop
$layout-desktopHD: 1200px; // Larger than desktop HD
