@import url(./normalize.css);
@import url(./fonts.css);
@import url(./fork-awesome.min.css);

@import url(./components/grid.css);
@import url(./components/navbar.css);
@import url(./components/footer.css);

html {
  font-size: 1rem;
}

body{
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}