@import url(./normalize.css);
@import url(./fork-awesome.min.css);
@import url(./fonts.css);

@import url(./components/grid.css);
@import url(./components/header.css);
@import url(./components/content.css);
@import url(./components/posts.css);

body{
  font-family: "Univers Next W01 Light";
  font-size: 1.5vw;
  font-style: normal;
}
