.main-content {
  margin-top: 70px;
  padding-top: 80px;

  min-height: calc(100vh - 250px)
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  max-width: 850px;
}

.section {
  margin: 80px 0;
}

.section:first-of-type {
  margin-top: 0; 
}