.header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;

  padding-top: 1em;
  padding-bottom: 1em;

  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.header-title {
  margin-bottom: 0.5em;

  font-family: "Proxima Nova W01 Semibold";
  font-size: 1.9em;
  letter-spacing: 0.2em;
}

.header-subtitle {
  display: inline-block;
  margin-left: 0.15em;

  color: #BBBBBB;
  font-family: "Proxima Nova W01 Light";
}

.header a {
  color: #000000;
  text-decoration: none;
}

.header .nav a {
  color: #BBBBBB;
  font-family: "Univers Next W01 Medium"
}

.header .nav a:hover {
  color: #000000;
}

.header .nav a.active{
  color: #000000;
}

.header .nav a:not(:last-child) {
  margin-right: 5em;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    padding-top: 3em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    padding-top: 5em;
  }
  
  .header-title {
    margin-bottom: 1em;
  }
}