.nav {
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  width: 100%;

  background-color: #fff;
  border-bottom: 2px solid #eee;

  z-index: 1;
}

.nav a {
  color: #666;
  text-decoration: none;
}

.nav a.nav-icon {
  padding: 10px;
}

.nav .nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  max-width: 850px;
  height: 68px;
}

.nav .nav-container .brand {
  font-weight: 500;
}

.nav .nav-container .brand a {
  color: #222;
}

.nav .nav-container .links a {
  font-size: 18px;
  padding: 10px 20px;
}

.nav .nav-container .extra a {
  font-size: 22px;
}