.posts {
  display: block;
  max-width: 70%;
}

.post {
  display: block;
}

.post:not(:last-child) {
  margin-bottom: 75px;
}

.post-title {
  color: #000000 !important;
  font-family: "Univers Next W01 Medium";
}

.post-date {
  display: inline-block;

  color: #BBBBBB;
  font-size: 1vw;
}

.post-content {
  margin-top: 25px;

  font-family: "Univers Next W01 Light";
}

.post-content > p {
  margin: 0;
}

.post-content b, strong {
  font-family: "Univers Next W01 Regular";
  font-weight: normal;
}

.post-content em {
  font-family: "Univers Next W01 Light Italic";
  font-style: normal;
}

.post-content > blockquote {
  margin: 0;
  padding: 0 40px;

  border-left: 5px solid rgb(230, 230, 230)
}

.post-content > blockquote > ul{
  list-style-type: "- ";
}

.post-content code {
  padding: 0 5px;

  background-color: rgb(240, 240, 240);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.post-content pre {
  padding: 5px;

  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.post-content img {
  display: block;
  margin: 0 auto;

  max-width: 70%;
  height: auto;
}

.post-content img.emoji {
  display: inline;
}

.post-content a {
  color: #000000;
  text-decoration: underline;
  font-family: "Univers Next W01 Regular";
}

.post-tags {
  margin-top: 1em;
  font-family: "Univers Next W01 Regular"
}

.post-link {
  margin-top: 10px;
}

.post-link a {
  color: #000000;
}

.post-link-item {
  text-decoration: underline !important;
  font-family: "Univers Next W01 Regular" !important;
}

.blog p {
  margin: inherit;

  text-align: justify;
}