nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6rem;

  .brand {
    img {
      height: 2rem;
      width: auto;
    }
  }

  .links {
    a {
      padding-left: 3rem;

      font-weight: 600;
    }
  }
}
