.hero {
  margin: 3rem auto;
  width: 60%;

  text-align: center;

  h1 {
    margin-bottom: 2rem;

    font-size: 2.6rem;

    &.blog-title {
      opacity: .05;
    }
  }

  p {
    opacity: .6;
  }
}
